/*********************************** 
              TOPO HEAD 
************************************/
@media screen and (max-width: 825px){
    .topo-head{
        z-index: 1023;
        width: 100%;
        
    }
}




/***********************************
            MODELO DE VENDA 
 ***********************************/
 @media screen and (max-width: 825px){
    .container h2 { font-size: 25px; margin-bottom: 82px; }
    .container > p { font-size: 19px; }
    .container p a { font-size: 19px; }
    
 }
 @media screen and (max-width: 412px){
    .produtos{
        margin-top: -40px;
        margin-left: 0;
        width: 333PX;
        height: 433px;   
    }
 }



/***********************************
            MODELO DE NEGOCIO 
 ***********************************/
 @media screen and (max-width: 825px){
    .modelo_de_negocio { height: auto; }
    .modelo_de_negocio > .container { margin: 10px auto; }
    .qd_container{  margin: 10px auto; }
  
        
 }