*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*********************************** 
              TOPO HEAD 
************************************/
.topo-head{
    width: 100%;
    height: 66px;
    background-color: beige;
    position: fixed;
}

/***********************************
            MODELO DE VENDA 
 ***********************************/
.bg {
    display: inline-block;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/BG.png);   
}
.container {
    margin: 110px auto;
    width: 90%;
    height: auto;
    text-align: center;
}
.container h2 {
    margin: 120px auto;
    color: rgb(255, 240, 255);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}
.container > p {
    margin-top: -49px;
    margin-bottom: 60px;
    color: rgb(255, 240, 255);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.container p a {
    margin: 30px auto;
    width: 744px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.produtos{
    background-color: rgb(202, 173, 202);
    width: 273px;
    margin-left: 10px;
    margin-bottom: 53px;
    display: inline-block;
    border-bottom: 8px solid #007dea;
    border-radius: 30px;
}
.produtos:hover{
    cursor: pointer;
	transform: scale(1.1);
	background: #007dea;
    transition: 1.3s;
}
.produtos h3 {
    margin: 30px auto;
    color: rgb(255, 240, 255);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.produtos img {
    text-align: center;
    width: 274px;
    margin-top: -30px;
}
/***********************************
            MODELO DE NEGOCIO 
 ***********************************/
 .modelo_de_negocio{
    background: #f4f9fd;
    display: inline-block;
    width: 100%;
    height: 366px;
 }
 
 .modelo_de_negocio > .container{
    margin: 0 auto;
    margin-top: -86px;
    

 }
 .qd_container{
    margin: 10px 20px;
    display: inline-block;
    width: 322px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
 }
 .qd_container_defalt{
    width: 90%;
    margin: 20px auto;
    display: inline-block;
 }
 .qd_container_defalt .qd_container_img{
    margin-right: 300px;
 }
 .qd_container_defalt h4{
    margin: 10px auto;
    font-size: 23px;
    
 }
 .qd_container_defalt p{
    font-size: 17px;

 }
 
 